.my-app-bar {
    position: sticky;
    top: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.5s ease;
    box-shadow: none;
  }
  
  .my-app-bar.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .my-app-bar.hidden {
    opacity: 0;
    visibility: hidden;
  }
  